<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>IT-Resourcehub</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script src="/js/modernizr-1.0.min.js"></script>
      <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Library/bootstrap/dist/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/select.css">
 <nav class="navbar navbar-inverse navbar-fixed-top brand " role="navigation">
      <div class="container">
      <h1><a href="/index.html">IT-Resourcehub</a></h1>
      </div>
   </nav>
</head>
<body class="container">
<br><br><br><br><br><br><br>
 <div class="row">
    <div class="col-md-4 ">
      <div class="panel-default vids">
           <div class="row">
               <i class="fa fa-film fa-5x"></i>
               <h3><b>Video Tutorial</b></h3>
               <button class="btn btn-success btn-lg"><a href="videos.html">GET ACCESS</a></button>
       </div>
     </div>
   </div>
   <div class="col-md-4 ">
      <div class="panel-default  ebook">
         
           <div class="row">
               <i class="fa fa-book fa-5x"></i>
               <h3><b>E-book's</b></h3>
               <button class="btn btn-primary btn-lg"><a href="ebooks.html">GET ACCESS</a></button>
       </div>
     </div>
   </div>
   <div class="col-md-4 ">
      <div class="panel-default other">
           <div class="row">
               <i class="fa fa-chain-broken fa-5x"></i>
               <h3><b>Other Useful Resource</b></h3>
               <button class="btn btn-warning btn-lg"><a href="http://e-links.bitballoon.com">GET ACCESS</a></button>
           </div>
       </div>
     </div>
   </div>
</div>
</body>
<!-- Bootstrap and Bootcards JS -->
<script src="/Library/jquery/dist/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/js/prefixfree.min.js"></script>
<script src="/js/outdatedbrowser.js"></script>
</html>